<html>
   <head>
      <title>Andrew Guenther</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
      <link href="http://necolas.github.io/normalize.css/2.1.0/normalize.css" rel="stylesheet" />
      <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="/css/font-awesome.min.css">
      <link href="/css/simple.css" rel="stylesheet" />
   </head>
   <body>
      <div class="header">
         <a href="/"><img class="selfpic" src="http://www.gravatar.com/avatar/ea8d4f768578588974ed4029483afe06.png?size=400" alt="A picture of me"/></a>
         <div class="bio">
            <p class="name"><a class="no-highlight" href="/">Andrew Guenther</a></p>
            <p>Hacker and Homebrewer
         </div>
         <ul class="navigation">
            <li title="Blog"><a class="no-highlight" href="/blog.html">Blog</a></li>
            <li title="Projects"><a class="no-highlight" href="/projects.html">Projects</a></li>
            <li title="Contact"><a class="no-highlight" href="mailto:guenther.andrew.j@gmail.com">Contact</a></li>
         </ul>
      </div>
      <div id="content">
         {{ content }}
      </div>
      <div class="footer">
         <ul class="social">
            <li title="GitHub"><a href="http://www.github.com/andrewguenther"><i class="no-highlight icon-github"></i></a></li>
            <li title="LinkedIn"><a href="http://www.linkedin.com/in/andrewguenther"><i class="no-highlight icon-linkedin"></i></a></li>
            <li title="Twitter"><a href="http://www.twitter.com/andrewguenther"><i class="no-highlight icon-twitter"></i></a></li>
         </ul>
      </div>
   </body>
   <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48997278-1', 'andrewguenther.github.io');
      ga('send', 'pageview');
   </script>
</html>
