<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
      <link href="http://necolas.github.io/normalize.css/2.1.0/normalize.css" rel="stylesheet" />
      <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="/css/font-awesome.min.css">
      <link href="/css/simple.css" rel="stylesheet" />
   </head>
   <body>
      <div class="header">
         <a href="/"><img class="selfpic" src="/img/me.jpg" alt="A picture of me"/></a>
         <div class="bio">
            <p class="name"><a class="no-highlight" href="/">Andrew Guenther</a></p>
            <p>Student. Data nerd. Web geek.
         </div>
         <ul class="navigation">
            <li title="About"><a class="no-highlight" href="/about.html">About</a></li>
            <li title="Projects"><a class="no-highlight" href="/projects.html">Projects</a></li>
            <li title="Contact"><a class="no-highlight" href="mailto:guenther.andrew.j@gmail.com">Contact</a></li>
         </ul>
      </div>
      <div id="content">
         {{ content }}
      </div>
      <div class="footer">
         <ul class="social">
            <li title="GitHub"><a href="http://www.github.com/andrewguenther"><i class="no-highlight icon-github"></i></a></li>
            <li title="LinkedIn"><a href="http://www.linkedin.com/in/andrewguenther"><i class="no-highlight icon-linkedin"></i></a></li>
            <li title="Twitter"><a href="http://www.twitter.com/andrewguenther"><i class="no-highlight icon-twitter"></i></a></li>
         </ul>
      </div>
   </body>
</html>
