<html>
   <head>
      <title>Andrew Guenther</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
      <link href="https://necolas.github.io/normalize.css/2.1.0/normalize.css" rel="stylesheet" />
      <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="/css/font-awesome.min.css">
      <link href="/css/simple.css" rel="stylesheet" />
   </head>
   <body>
      <div class="header">
         <a href="/"><img class="selfpic" src="https://www.gravatar.com/avatar/ea8d4f768578588974ed4029483afe06.png?size=400" alt="A picture of me"/></a>
         <div class="bio">
            <p class="name"><a class="no-highlight" href="/">Andrew Guenther</a></p>
            <p>Hacker and Homebrewer
         </div>
      </div>
      <div id="content">
         {{ content }}
      </div>
      <div class="footer">
         <ul class="social">
            <li title="GitHub"><a href="https://www.github.com/andrewguenther"><i class="no-highlight icon-github"></i></a></li>
            <li title="LinkedIn"><a href="https://www.linkedin.com/in/andrewguenther"><i class="no-highlight icon-linkedin"></i></a></li>
            <li title="Twitter"><a href="https://www.twitter.com/codebrewed"><i class="no-highlight icon-twitter"></i></a></li>
            <li title="Contact"><a href="mailto:guenther.andrew.j@gmail.com"><i class="no-highlight icon-envelope-alt"></i></a></li>
         </ul>
      </div>
   </body>
</html>
